<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journey to Springfield</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h3>Модель классификации Симпсонов по изображению</h3>
<form id="dataform" name="dataform">
    <input type="file" name="image"><br>
    <label>
        <input type="text" name="im_url" placeholder="или вставьте URL">
    </label><br>
    <input type="submit" value="Отправить"><br>
</form>
<div id="result"></div>
<script src="{{ url_for('static', filename='get_result.js') }}"></script>
</body>
</html>